

<div class="container">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-6">
            <div class="access-denied-wrapper">
                <div class="access-denied">
                    Access is denied. Return to   <a class="link" asp-controller="Login" asp-action="Index">Login</a> and try again.
                </div>
            </div>
        </div>

    </div>
</div>