<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">Welcome to Merketo Headphone Shop</div>
            <div class="title">We do not sell anything</div>
            <a href="#TheNewProducts" class="btn-theme">SHOP NOW</a>
        </div>
        <div class="content-image">
            <img src="images\placeholders\625x647.svg" alt="placeholder for image">
        </div>
    </div>
</section>