<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">Welcome to Merketo Headphones</div>
            <div class="title">Find headphones and buy elsewhere</div>
             
            <button class="btn-theme">
                <a asp-action="Index" asp-controller="ProductDetails" asp-route-articleNumber="1050" class="front-link" >
                To OkaySound123
                </a>
            </button>
            
        </div>
        <div class="content-image">
            <img src="https://images.pexels.com/photos/3394650/pexels-photo-3394650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="A picture of headphones">
        </div>
    </div>
</section>