



.productpage {
    margin: 10rem;
}



.container-bo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roles-container {
    display: flex;
}