
@inject UserAdministratorService userAdministratorService

@{
    ViewData["Title"] = "Backoffice";
}
<div class="container-bo min-vh-100">
   <h2>Backoffice roles: </h2>
    @foreach(var user in await userAdministratorService.GetUsersAsync())
    {
        
        

        <div class="roles-container">
            <div> @user.Email </div>
           -
            @foreach (var role in user.NameOfRoles)
            {
                <div>@role</div>
            }
        
        </div>
    }

    </div>

